.Construction {
  background-image: url('/images/construction-background.png');
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: #ffff00;
  min-height: 100vh;
}

.social-link {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #000;
  transition: all 250ms ease;
}

.social-link:hover {
  opacity: .5;
}
