.Mountains-Container {
  background: url('../../static/images/mtns-layer.svg') bottom no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  min-height: 30vw;
}

.Mountains-Container:nth-of-type(2) {
  background: var(--lightPurp);
  margin-top: 0px;
  transform: rotate(180deg);
  min-height: 20vw;
}

.City-Layer-1 img {
  width: 66%;
}
.City-Layer-2 img {
  width: 86%;
}
.City-Layer-3 img {
  width: 80%;
}
.City-Layer-4 img {
  width: 98%;
  margin-bottom: -5px;
}

.City-Layer-1 img,
.City-Layer-2 img,
.City-Layer-3 img,
.City-Layer-4 img {
  --x: 0px;
  --y: 0px;
  transform: translate(var(--x), var(--y));
  transition: all 0.15s;
  position: absolute;
  background-size: contain;
  left: 0;
  right: 0;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.City-Layer-1 img.no-more-slidey,
.City-Layer-2 img.no-more-slidey,
.City-Layer-3 img.no-more-slidey,
.City-Layer-4 img.no-more-slidey {
  transition: none;
}
